<div class="cero">
  <p>{{ valor }}</p>
  
</div>

<div class="botones">
  <button type="button" class="boton-1" (click)="maximo()">+</button>
  <button type="button" class="boton-2" (click)="minimo()">-</button>
</div>
<br>
<br>
<br>
<div>
  <small *ngIf="mensaje === true">No es posible sobrepasar el limite!</small>
</div>



