
.cero{
  border: 5px solid rgb(90, 86, 86);
  width: 200px;
  margin-top: 30px;
  text-align: center;
  float: left;
  margin-right: 10px;
  font-size: 4.6em;
  height: 250px;
  margin-left: 40%;
  background-color: bisque;
  border-radius: 29px;
  color: rgb(31, 97, 219);
}


small{
  border: 3px solid rgb(90, 86, 86);
  font-size: 20px;
  border: 3px solid rgb(54, 107, 167);
  border-style: dashed;
  margin-left: 36.8%;
  color: rgb(56, 54, 51);
  font-weight: bold;
  background: rgb(221, 148, 52);
}


.botones{
  padding-top: 4.8%;

}

.boton-1{
  background-color: rgb(88, 218, 88);
  border-radius: 20px;
  border: rgb(74, 199, 74);
  margin-right: 4px;
  display: block;
  color: white;
  cursor: pointer;
  width: 90px;
  height: 90px;
  font-size: 50px;
}


.boton-2{
  background-color: rgb(235, 42, 42);
  border-radius: 20px;
  border: rgb(214, 45, 45);
  color: white;
  margin-top: 10px;
  width: 20px;
  cursor: pointer;
  width: 90px;
  height: 90px;
  font-size: 50px;
}

.boton-1:hover{
  background-color: rgb(7, 182, 7);
}


.boton-2:hover{
  background-color: rgb(201, 9, 9);
}